$calcblue: #045396;
$calcdarkgray: #434f3d;
$calcred: #e62d36;
$sunlight: #17201b;
$sundark: #0c0e0e;
$intborder: rgba(32, 32, 32, 0.521);
$intbordertwo: rgba(32, 32, 32, 0.267);
$s: 4px;

@font-face {
  font-family: 'Digital-7';
  src: local('Digital-7'), url('../fonts/Digital7.ttf') format('tff');
}

@mixin numpad-key {
	width: 40px;
	height: 28px;
	font-size: 0.75rem;
  font-weight: 900;
  font-family: Arial, Helvetica, sans-serif;
	margin: 5px 3px;
	padding: 0 3px;
	border-radius: 3px;
	cursor: pointer;
  box-shadow: 
    inset 2px 2px 3px 0 rgba(255, 255, 255, 0.226), 
    1px 1px 3px 2px #1f1f1f, 
    -1px -1px 2px 1px #1f1f1f;
	text-align: left;
  font-stretch: 200%;
  user-select: none;
}

.calc-container {
	background-color: $calcblue;
	width: 240px;
	height: 420px;
	margin: 0 auto;
	border-radius: 7px 7px 25px 25px;
  box-shadow: 
    inset 1px 1px 20px 12px #35353526,
    -6px 8px 21px 0px #acb5dd, 
    -8px 6px 10px 0px #929292;
	border-right: 2px solid #353535af;
}

.top-container {
  box-shadow: 
    0px -5px 0 0 rgba(44, 44, 44, 0.719),
    0px 8px 5px 0 rgba(255, 255, 255, 0.164);
	height: 42px;
  margin-top: 20px;
  margin-bottom: 5px;
  width: 240px;
  display: flex;
  justify-content: center;
}

.num-side {
  background-color: $calcblue;
	background-image: 
		repeating-linear-gradient(
			transparent, 
			rgb(13, 13, 129) 30px),
		repeating-linear-gradient(
			0.25turn, 
			transparent, 
			skyblue 30px);
	background-size: $s $s;
  height: 55px;
  min-width: 19px;
  margin: -4px -30px;
  box-shadow: 
    inset 1px 1px 20px 12px #35353526;
  border-top: 1.5px solid $intbordertwo;
  border-bottom: 1.5px solid $intbordertwo;
}

.numdisplay-border {
	margin: -2px 30px -5px 30px;
	padding: 5px 5px;
	border-width: 1px 0 0 2px;
	border-color: $intborder;
	border-style: solid;
	background-color: $calcdarkgray;
}

.number-display {
  width: 190px;
	border-radius: 5px;
	font-size: 2.3rem;
	letter-spacing: -0.05rem;
	font-weight: 600;
	text-align: right;
	padding: 0 5px;
	margin: 0;
	line-height: 1;
	background-color: #b5b5b5;
	font-style: italic;
	font-family: 'Digital-7', monospace;
	:first-child {
		display: inline;
		margin-left: 0rem;
	}
}

.middle-container {
	margin-top: 0px;
	color: white;
	text-transform: uppercase;
	display: flex;
	padding: 10px 15px;
	flex-wrap: wrap;
	border-bottom: 1.3px solid $intborder;
	:nth-child(1) {
		width: 60%;
		font-size: 0.8rem;
		font-weight: 300;
	}
	:nth-child(2) {
		width: 40%;
		text-align: right;
		line-height: 1;
		font-size: 1.5rem;
		font-family: 'Courier New', Courier, monospace;
		font-weight: 800;
		letter-spacing: -0.08rem;
	}
}

.solar-panel {
	background: linear-gradient(
		90deg,
		$sunlight 0%,
		$sunlight,
		24%,
		$sundark 25%,
		$sunlight 26%,
		$sunlight 49%,
		$sundark 50%,
		$sunlight 51%,
		$sunlight 74%,
		$sundark 75%,
		$sunlight 76%
	);
	width: 100px;
	height: 30px;
	border-width: 2px 0 0 2px;
	border-color: black;
}
.numpad-border {
	margin: 8px 10px;
	border-radius: 5px;
	border: 1.3px solid $intborder;
}
.numpad {
	display: grid;
	grid-template-columns: 138px 25px 41px;
	grid-template-rows: repeat(3, auto);
	width: 100%;
	height: auto;
	text-align: center;
	padding: 3px;
	margin: 0 2px;
}
.top-left {
	width: 140px;
	display: flex;
	flex-wrap: wrap;
	div {
		background-color: $calcred;
		color: white;
		@include numpad-key;
	}
}
.top-right {
	grid-column-start: 3;
	grid-column-end: 4;
	display: flex;
	flex-direction: column;
	div {
		background-color: $calcred;
    color: white;
		@include numpad-key;
	}
}
.numbers {
	display: flex;
	flex-wrap: wrap;
	width: 140px;
}
.number-key {
	background-color: white;
	color: $calcblue;
	@include numpad-key;
}
.bottom-right {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 4;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	div {
		background-color: $calcred;
		color: white;
		@include numpad-key;
	}
	:nth-child(3) {
		height: 70px;
	}
}
.bottom-left {
	grid-column-start: 1;
	grid-column-end: 2;
	display: flex;
	:nth-child(1) {
		background-color: $calcred;
		color: white;
		@include numpad-key;
	}
	:nth-child(2) {
		background-color: white;
		color: $calcblue;
		@include numpad-key;
	}
	:nth-child(3) {
		background-color: white;
		color: $calcblue;
		@include numpad-key;
	}
}
